#section--links figure {
    padding-bottom: 0.25em;
    overflow: hidden;
    background-color: rgba(211, 211, 211, 0.8);
    width: 40%;
    max-width: 500px;
    box-shadow: 0.5em 0.5em 1em rgba(128, 128, 128, 1);
}

/* --------------- MEDIA QUERIES --------------- */
@media (max-width: 750px) {
    #section--links figure {
        float: none;
        width: 100%;
        margin: 0 auto 2em;
    }
}