/* SEARCH BOX */
.search-box {
    display: flex;
    justify-content: flex-end;
}

.search-box button:hover {
    cursor: pointer;
}

.search-box input {
    font-size: 0.8rem;
    width: 90%;
    min-width: 300px;
    padding: 0.25em 0.25em 0.25em 0.5em;
    border: solid 1px #c2c2c2;
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-right: 0;
}

.search-box button {
    border: solid 2px #06b0dd;
    background-color: #06b0dd;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 1rem;
    padding: 0.25em 0.35em;
    margin-left: 0;
}

.search-box .icon {
    color: white;
}