.conditions-card {
    background-color: #d7f0f8;
    max-width: 400px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0.5em 0.5em 1em rgba(128, 128, 128, 1);
    margin: 0 auto;
}

.conditions-card h2 {
    color: #06b0dd;
    margin: 0;
    padding-top: 0.75em;
}

.conditions-card ul {
    margin: 0 auto;
    padding: 1em 0;
}

.conditions-card li {
    list-style: none;
    padding: 1em 0;
    display: flex;
    align-items: center;
}

.conditions-card li .icon {
    color: #06b0dd;
    margin-right: 0.8em;
    font-size: 1.5rem;
}

.conditions-card p {
    padding: 0 2em;
}