.collapsed-nav {
    display: none;
    padding-bottom: 0.75em;
}

.collapsed-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.collapsed-nav ul li:first-child {
    position: absolute;
    left: 2em;
}

.collapsed-nav .dropdown-button {
    width: fit-content;
    padding: 0.5em;
}

/* DROPDOWN */
.collapsed-nav-dropdown {
    background-color: #d7f0f8;
    border: solid 2px #5fc3e5;
    border-top: solid 5px #5fc3e5;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: absolute;
    width: 100%;
    text-align: center;
}

.collapsed-nav-dropdown ul {
    margin: 0;
    max-height: 50vh;
    overflow: scroll;
}

.collapsed-nav-dropdown li:first-child {
    padding-top: 0.5em;
}

.collapsed-nav-dropdown li {
    padding: 0 0.5em 0.5em;
}

.collapsed-nav-dropdown a {
    display: inline-block;
    width: 100%;
    padding: 0.5em;
    border-radius: 8px;
}

.collapsed-nav-dropdown a:hover {
    background-color: white;
    cursor: pointer;
}

.collapsed-nav-dropdown .dropdown-selected {
    background-color: #06b0dd;
    color: white;
    cursor: default;
}

.collapsed-nav-dropdown .dropdown-selected:hover {
    background-color: #06b0dd;
    color: white;
    cursor: default;
}

/* --------------- MEDIA QUERIES --------------- */
@media (max-width: 750px) {
    .collapsed-nav {
        display: block;
    }
}