.collapsed {
    display: none;
    padding-bottom: 0.75em;
}

.collapsed .dropdown-button {
    width: fit-content;
    margin: 0 auto;
}

/* --------------- MEDIA QUERIES --------------- */
@media (max-width: 750px) {
    .collapsed {
        display: block;
    }
}