/* HEADER */
header {
    background-color: #d7f0f8;
    border-bottom: solid 5px #5fc3e5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

header.shrink .logo-container {
    display: none;
}

header .container {
    margin: 0 auto;
    text-align: right;
}

/* LOGO */
.logo {
    max-width: 350px;
}

.logo-container {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* CONTACT INFO */
.contact-info {
    margin: 0;
}

.contact-info > li {
    margin-bottom: 0.75em;
}

/* COLLAPSE NAV */
.collapsible-nav {
    position: relative;
}

/* --------------- MEDIA QUERIES --------------- */
@media (max-width: 750px) {
    header .container {
        width: 100%;
        margin: 0;
    }

    .logo-container {
        flex-direction: column;
        gap: 1em;
    }

    .contact-info > li:first-child, .contact-info > li:nth-child(2) {
        display: none;
    }
}