#section--benefits {
    display: flex;
    justify-content: space-between;
}

#section--benefits .conditions-card-container {
    width: 45%;
}

#section--benefits .benefits-container {
    width: 55%;
    padding: 0.75em;
}