#section--benefits {
    display: flex;
    justify-content: space-between;
}

#section--benefits .conditions-card-container {
    width: 45%;
}

#section--benefits .benefits-container {
    width: 55%;
    padding: 0.75em;
}

#section--benefits .benefits-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
}