.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin: 0;
}

.cards-container figure {
    height: 500px;
    min-width: 300px;
    margin: 0;
}

.cards-container figure > div {
    height: 50%;
    overflow: hidden;
}

.cards-container figure img {
    object-fit: cover;
}

.cards-container figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5em;
    height: 50%;
}