.card {
    height: 500px;
    min-width: 300px;
    margin: 0;
    border-radius: 8px;
}

.card > div {
    height: 50%;
    overflow: hidden;
}

.card img {
    object-fit: cover;
}

.card figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5em;
    height: 50%;
}