.about h2 {
    text-align: left;
    margin-bottom: 1em;
}

.about {
    margin: 0;
}

.about {
    text-align: left;
    display: flex;
    background-color: rgba(215, 240, 248, 0.7);
}

.about .content {
    padding: 2em;
}

.about > div {
    width: 50%;
}

.intro-image {
    background-size: cover;
    background-position: center;
}

/* --------------- MEDIA QUERIES --------------- */
@media (max-width: 750px) {
    .about {
        flex-direction: column;
    }

    .about > div {
        width: 100%;
    }

    .intro-image {
        min-height: 350px;
    }
}