.question-container {
    margin-bottom: 1em;
}

.question {
    background-color: #d7f0f8;
    color: #06b0dd;
    padding: 0.75em 1em;
    font-size: 1rem;
    margin: 0;
    border-radius: 8px;
    text-transform: capitalize;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.question:hover, .question:hover .icon {
    color: #0189ab;
    cursor: pointer;
}

.answer {
    background-color: #f6f5f5;
    padding: 1em;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* --------------- MEDIA QUERIES --------------- */
@media (max-width: 750px) {
    .question {
        font-size: 0.8rem;
    }
}