/* MAIN NAV */
.main-nav {
    width: 70%;
    min-width: 650px;
    margin: 0 auto;
}

.main-nav > ul {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-nav a {
    color: black;
    display: inline-block;
    padding: 0.5em 0;
    width: 100%;
}

.main-nav > ul > li > a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5em;
    color: #0189ab;
    cursor: pointer;
}

.dropdown-button {
    background-color: white;
    border-radius: 10px;
}

#services-button:hover {
    text-decoration: none;
}

.dropdown-arrow {
    display: inline-block;
    margin-left: 0.5em;
}

#services-dropdown {
    position: absolute;
    margin-top: 0.5em;
    width: 300px;
    border: solid 2px #5fc3e5;
    border-top: solid 5px #5fc3e5;
    background-color: #d7f0f8;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#services-dropdown .dropdown-selected {
    background-color: #06b0dd;
    color: white;
    cursor: default;
}

#services-dropdown .dropdown-selected:hover {
    background-color: #06b0dd;
    color: white;
    cursor: default;
}

#services-dropdown li {
    padding: 0 0.35em 0.35em;
}

#services-dropdown li:first-child {
    padding-top: 0.35em;
}

#services-dropdown a {
    padding: 0.65em;
    text-align: left;
    font-size: 0.9rem;
    border-radius: 8px;
}

#services-dropdown a:hover {
    background-color: white;
    cursor: pointer;
}

/* --------------- MEDIA QUERIES --------------- */
@media (max-width: 750px) {
    header .container {
        width: 100%;
        margin: 0;
    }

    .logo-container {
        flex-direction: column;
        gap: 1em;
    }

    .contact-info > li:first-child, .contact-info > li:nth-child(2) {
        display: none;
    }

    .main-nav {
        display: none;
    }
}